#homepage {

  // Icon
  #fullscreenIcon {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 0;
    color: $grey;
    font-size: 32px;
    display: none;
    transition: color .3s linear;
    &:hover {
      color: $lightGrey;
      transition: color .3s linear;
    }
    @media only screen and (min-width: 768px) {
      display: block;
    }
    @media only screen and (min-width: 1000px) {
      right: 20px;
    }
  }

  #playerShell {
    // height: 1.5625vw; // this is important.
    min-height: 1.5625vw; // this is important.
  }
  #playerShell:fullscreen {
    max-height: 1.5625vw; // this is important.
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    #player {
      max-width: none;
      margin-top: 0;
    }
    #playerFooter {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      top: 95vh;
    }
    #soundIcon {
      background-color: transparent;
    }
  }

  #playerFooter {
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-top: 10px;
    cursor: pointer;
    z-index: 1000;
    @include clearfix;
  }

  // Playbar
  #playbarWrapper {
    float: left;
    width: calc(100% - 130px);
  }

  // Sound and time.
  #playbarWidgetsWrapper {
    float: left;
    width: 130px;
    position: relative;
    top: 2px;
  }

}
