#homepage {

  #playerWrapper {
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
      width: 1000px;
      height: 562px;
      display: none;
      &.active {
        display: block;
      }
    }
  }

  #navWrapper {
    @include clearfix;
    > li {
      float: left;
      margin-left: 10px;
      background-color: #1a1a1a;
      padding: 5px 8px;
      color: #272626;
      &.active {
        color: #9c9c9c;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }

}
