#homepage {

  #playerWrapper {
    margin: 0 auto;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    @media only screen and (min-width: 768px) {
      margin-top: 60px;
    }
    > li {
      display: none;
      width: 100%;
      position: relative;
      padding-bottom: 56.25%;
      // height: 0;
      &.active {
        display: block;
      }
      > iframe {
      	position: absolute;
      	top: 0;
      	left: 0;
      	width: 100%;
      	height: 100%;
      }
    }
  }

  canvas {
    background: #333;
    opacity: .7;
    width: 100%;
    height: 20px;
  }

  #playbarWrapper {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
    &:hover #playbarMask {
      transition: transform .4s;
      transform: translateY(10px);
    }
    #playbarMask {
      transition: transform .4s;
      width: 100%;
      height: 15px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000;
    }
  }

  #navWrapper {
    @include clearfix;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    > li {
      font-size: 15px;
      float: left;
      margin-left: 10px;
      background-color: #1f1f1f;
      padding: 6px 10px;
      color: #555;
      &.active {
        color: #ccc;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }

}
