#navWrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 80px;
  > li {
    margin-bottom: 15px;
    &.active #navItemTitle,
    &.active #linkIcon {
      color: #ccc;
    }
    &:hover {
      cursor: pointer;
    }
    #navItemTitle {
      color: #333;
      font-size: 14px;
    }
    #linkIcon {
      color: #333;
      font-size: 24px;
      margin-left: 10px;
      margin-right: 25px;
      position: relative;
      top: 10px;
    }
    #navItemTitle,
    #navItemClipsWrapper {
      display: inline-block;
    }
    #navItemClipsWrapper > li {
      margin-left: 10px;
      display: inline-block;
      font-size: 13px;
      background-color: #1f1f1f;
      padding: 6px 10px;
      color: #555;
      &.active {
        color: #ccc;
      }
      &:first-child {
        margin-left: 0;
      }
    }

  }
}
