#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.92);
  &.hide {
    display: none;
  }
  #closeIcon {
    color: $iconColor;
    font-size: 38px;
    display: block;
    position: absolute;
    top: 35px;
    left: 35px;
    cursor: pointer;
    padding: 10px;
  }
  .hide {
    display: none;
  }
}

#navWrapper {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
  > li {
    margin-bottom: 30px;
    text-align: center;
    &.active #navItemTitle,
    &.active #linkIcon {
      color: $iconColor;

    }
    &:hover {
      cursor: pointer;
    }
    *:hover {
      color: $iconColor;
    }
    #navItemTitle {
      color: $grey;
      font-size: 18px;
      cursor: pointer;
    }
    #linkIcon {
      font-size: 24px;
      margin-left: 10px;
      margin-right: 25px;
      position: relative;
      top: 10px;
      color: $grey;
      cursor: pointer;
    }
    #navItemTitle,
    #navItemClipsWrapper {
      display: inline-block;
    }
    #navItemClipsWrapper > li {
      cursor: pointer;
      margin-left: 10px;
      display: inline-block;
      font-size: 16px;
      background-color: $darkGrey;
      padding: 6px 10px;
      color: $grey;
      &.active {
        color: $iconColor;
      }
      &:first-child {
        margin-left: 0;
      }
    }

  }
}
