#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vw/(16/9));
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.82);
  display: none;
  &.show {
    display: block;
  }
}

#navWrapper {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  height: calc(100% - 50px);
  overflow: scroll;
  > li {
    &:first-child {
      padding-top: 30px;
      @media (min-width: 800px) {
        padding-top: 60px;
      }
    }
    text-align: center;
    margin-bottom: 10px;
    @media (min-width: 800px) {
      margin-bottom: 20px;
    }
    &.active #navItemTitle,
    &.active #linkIcon {
      color: $iconColor;

    }
    &:hover {
      cursor: pointer;
    }
    *:hover {
      color: $iconColor;
    }
    #navItemTitle {
      color: $grey;
      font-size: 15px;
      cursor: pointer;
      @media (min-width: 800px) {
        font-size: 18px;
      }
      &:hover {
        color: $iconColor;
      }
    }
    #linkIcon {
      font-size: 24px;
      margin-left: 10px;
      margin-right: 25px;
      position: relative;
      top: 10px;
      color: $grey;
      cursor: pointer;
      &:hover {
        color: $iconColor;
      }
    }
    #navItemClipsWrapper {
      margin-top: 10px;
      margin-bottom: 25px;
      @media (min-width: 800px) {
        margin-bottom: 35px;
      }
    }
    #navItemClipsWrapper > li {
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      padding: 6px 10px;
      color: $grey;
      border: 2px solid $grey;
      border-radius: 4px;
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
      &.active, &:hover {
        color: $iconColor;
        border: 2px solid $iconColor;
      }

    }

  }
}
