#playbarWrapper {

  position: relative;
  height: 18px;
  top: 2px;

  #playbarCanvas {
    background-color: $darkGrey;
    height: 5px;
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    width: 100%;
    transition: all .15s linear;
    transition-delay: .25s;
  }

  &:hover #playbarCanvas {
    background-color: $darkGrey;
    height: 14px;
    top: -1px;
    transition: all .15s linear;
  }

  #playbarTimeTooltip {
    width: 16px;
    height: 8px;
    color: $white;
    position: absolute;
    font-size: 12px;
    font-weight: 300;
    display: none;
    z-index: 1000;
  }
}
