#playerPage {

  min-height: 100%;

  #playerShell {
    // height: 1.5625vw; // this is important.
    min-height: 1.5625vw; // this is important.
    position: relative;;
  }

  #playerFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(100% - 100px);
    margin: 0 auto;
    z-index: 1000;
    @include clearfix;
  }

  // Playbar
  #playbarWrapper {
    width: 100%;
  }

  // Sound and time.
  #playbarWidgetsWrapper {
    @include clearfix;
    > * {
      position: relative;
      float: left;
      color: $iconColor;
    }
    > #playPauseIconWrapper {
      // top: 16px;
    }
    > #soundWidget {
      // top: 17px;
      margin-left: 20px;
    }
    > #timeWidget {
      margin-left: 5px;
      top: 10px;
    }

  }

}
