#playbarWrapper {

  canvas {
    background: #232323;
    width: 100%;
    height: 20px;
  }

  // @todo - we don't need to use masking to accomplish this...
  #playbarMask {
    transition: transform .4s;
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
  }

  #playbarTimeTooltip {
    width: 16px;
    height: 8px;
    color: white;
    position: absolute;
    font-size: 12px;
    font-weight: 300;
    display: none;
  }
}
