#playPauseIconWrapper {
  padding: 7px;
  top: -1px;
  cursor: pointer;
  position: relative;
  #playPauseIcon {
    border-top: 11px solid transparent;
    border-left: 15px solid $iconColor;
    border-bottom: 11px solid transparent;
  }
  &.pause {
    #playPauseIcon {
      width: 9px;
      height: 21px;
      border-right: 5px solid $iconColor;
      border-left: 5px solid $iconColor;
      border-top: 0;
      border-bottom: 0;
    }
  }
  &.pause + #soundWidget {
    margin-left: 16px !important; // little hack, the displaying the pause btn pushes soundWidget to the right. this counteracts that.
  }
}
