#playbarWrapper {

  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover #playbarCanvas {
    height: 14px;
    transition: height .15s linear;
  }

  #playbarCanvas {
    cursor: pointer;
    background-color: $playbarColor;
    height: 5px;
    width: 100%;
    transition: height .15s linear;
    transition-delay: .25s;
  }

  #playbarTimeTooltip {
    width: 16px;
    height: 8px;
    color: $white;
    position: absolute;
    font-size: 12px;
    font-weight: 300;
    display: none;
    z-index: 1000;
  }
}
