#playPauseIconWrapper {
  padding: 7px;
  top: -2px;
  cursor: pointer;
  position: relative;
  #playPauseIcon {
    border-top: 11px solid transparent;
    border-left: 15px solid $iconColor;
    border-bottom: 11px solid transparent;
  }
  &.pause {
    #playPauseIcon {
      width: 9px;
      height: 22px;
      border-right: 5px solid $iconColor;
      border-left: 5px solid $iconColor;
      border-top: 0;
      border-bottom: 0;
    }
  }
  &.pause + #soundWidget {
    margin-left: 16px !important; // 
  }
}
