#soundWidget {
  position: absolute;
  padding: 10px 10px 0 0;
  top: -9px;
  left: 0px;
  right: 0;
  width: 100%;
  overflow: hidden;
  @include clearfix;

  &:hover #soundbar,
  &:hover #soundbarBg {
    transform: translate3d(-35px, 0, 0);
    transition: all .1s linear;
  }

  #soundIcon {
    color: $lightGrey;
    font-size: 28px;
    padding-left: 12px;
    position: relative;
    top: -6px;
    float: left;
    z-index: 101;
    width: 23px; // 35px total (w/o this it's like 34.something px)
    background-color: $black;
  }

  #soundbarWrapper {
    float: left;
    z-index: 100;
    position: relative;
  }

  #soundbar,
  #soundbarBg {
    position: absolute;
    width: 75px;
    height: 10px;
    top: 0;
    left: 35px;
    z-index: 10;
    transform: translate3d(-110px, 0, 0);
    transition: all .1s linear;
    transition-delay: .25s;
  }
  #soundbarBg {
    background-color: $darkGrey;
  }
  #soundbar {
    background-color: $red;
    z-index: 100;
  }

}
