#timeWidget {
  @include antialiased;
  font-size: 14px;
  > *:first-child:empty + .divider {
    display: none;
  }
  span.divider {
    padding: 0 3px;
  }
  > * {
    top: 0;
    position: relative;
  }
}
