#timeWidget {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: right;
  color: $lightGrey;
  font-size: 11px;
  > *:first-child::after {
    content: ' / ';
  }
  > * {
    top: 1px;
    position: relative;
  }
}
