#timeWidget {
  @include antialiased;
  font-size: 14px;
  > *:first-child::after {
    content: '/';
    padding-left: 10px;
    padding-right: 5px;
  }
  > * {
    top: 0;
    position: relative;
  }
}
